<%= form_with(model: quote, class: "border rounded shadow p-2 mb-3") do |form| %>
  <% if quote.errors.any? %>
    <div class="error-message">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <div class="flex justify-between gap-2">
    <%= form.text_field :name, class: "flex-1 border border-gray-200 rounded p-1" %>
    <div class="flex gap-2">
      <%= link_to "Cancel", quotes_path, class: "block bg-gray-200 p-1 border rounded hover:bg-gray-300" %>
      <%= form.submit class: "bg-primary-500 text-white p-1 border rounded hover:bg-primary-600" %>
    </div>
  </div>
<% end %>
