<% content_for :title, "Quotes" %>
<%= turbo_stream_from current_company,"quotes" %>
<div class="flex justify-between mb-5">
  <h1 class="text-3xl font-semibold">Quotes</h1>
  <%= link_to "New quote", new_quote_path, data: { turbo_frame: dom_id(Quote.new) }, class: "bg-primary-500 text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-primary-700" %>
</div>
<%= turbo_frame_tag Quote.new %>
<%= turbo_frame_tag "quotes" do %>
  <%= render "quotes/empty_state" %>
  <%= render @quotes %>
<% end %>
