<%= turbo_frame_tag line_item_date do %>
  <div class="mb-5">
    <%= turbo_frame_tag dom_id(line_item_date, :edit) do %>
      <div class="flex items-center justify-between gap-3">
        <h2 class="text-xl">
          <%= l(line_item_date.date, format: :long) %>
        </h2>
        <div class="flex gap-2">
          <%= button_to [quote, line_item_date], method: :delete, form: { data: { turbo_confirm: "Are you sure?" } },class: "bg-gray-100 text-white p-1 border rounded-md hover:bg-gray-200" do %>
            <span class="sr-only">Delete</span>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
            </svg>
          <% end %>
          <%= link_to [:edit, quote, line_item_date], class: "bg-gray-100 text-white p-1 border rounded-md hover:bg-gray-200" do %>
            <span class="sr-only">Edit</span>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="p-3 mt-3 bg-white rounded shadow">
      <div class="flex items-start gap-3 p-2 px-3 mb-3 bg-gray-100 rounded-md">
        <div class="flex-1 font-bold">Article</div>
        <div class="w-[6rem]">Quantity</div>
        <div class="w-[6rem]">Price</div>
        <div class="w-[5rem]"></div>
      </div>
      <%= turbo_frame_tag nested_dom_id(line_item_date, "line_items") do %>
        <%= render line_item_date.line_items, quote: quote, line_item_date: line_item_date %>
      <% end %>
      <%= turbo_frame_tag nested_dom_id(line_item_date, LineItem.new) %>
      <div class="p-3 text-center border border-dashed">
        <%= link_to "Add Item", [:new, quote, line_item_date, :line_item], data: { turbo_frame: nested_dom_id(line_item_date, LineItem.new) },class: "bg-primary-500 text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-primary-700" %>
      </div>
    </div>
  </div>
<% end %>
