<%= turbo_frame_tag line_item do %>
  <div class="flex items-start gap-3 p-2 mb-1">
    <div class="flex-1">
      <%= line_item.name %>
      <div class="max-w-full flex-basis-100">
        <%= simple_format line_item.description %>
      </div>
    </div>
    <div class="w-[6rem]">
      <%= line_item.quantity %>
    </div>
    <div class="w-[6rem]">
      <%= number_to_currency line_item.unit_price %>
    </div>
    <div class="flex order-2 gap-2 w-[5rem]">
      <%= button_to [quote, line_item_date, line_item], method: :delete, form: { data: { turbo_confirm: "Are you sure?" } },class: "bg-gray-100 text-white p-1 border rounded-md hover:bg-gray-200" do %>
        <span class="sr-only">Delete</span>
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
        </svg>
      <% end %>
      <%= link_to [:edit, quote, line_item_date, line_item], class: "bg-gray-100 text-white p-1 border rounded-md hover:bg-gray-200" do %>
        <span class="sr-only">Edit</span>
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
        </svg>
      <% end %>
    </div>
  </div>
<% end %>
